body {
  background-color: lightblue;
}

h1 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

img {
  float: left;
  width: 250px;
  height: 150px;
  margin: 10px;
  border-color: saddlebrown;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}

p {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

div{
  margin:10px;
  padding: 10px;
  line-break:10px;
}